<h3>Новая Задача</h3>
<div class="line-separator"></div>
<%= form_for @todo, id: '#form', :url => url_for(:controller => 'todos', :action => 'create') do |f| %>
  <%= f.text_field :text, placeholder: 'Название задачи...' %>
  <%= f.collection_select(:project_id, @projects, :id, :title) %>
    <div class="buttons">
  <%= link_to label_tag('ОТМЕНА'), '#', :id => 'hide_new' %>
  <%= link_to label_tag('OK'), "#", id: 'ok_button' %>
    </div>
<% end %>