<div id="overheader">
  <h1>Задачи</h1>
  <%= link_to show_svg("plus.svg"), '#', :id => 'show_new' %>
</div>
<div class="container" id="main">
  <div class="row">
    <% @projects.each do |project| %>
        <div class="col-xs-1 col-md-2 col-lg-3 clearfix" style="padding: 10px; width: 370px;">
          <div class="projects">
          <h2><%= project[:title] %></h2>
          <div class="line-separator"></div>
          <ul>
            <% project.todos.each do |todo| %>
                <li><%= form_tag('/todos/' + todo[:id].to_s + '/edit', :method => 'get')  do %>
                  <%= check_box_tag 'todo_check_'+todo[:id].to_s, todo[:id], todo[:isCompleted] %>
                  <% end %>
                  <%= label_tag 'todo_label_'+todo[:id].to_s, todo[:text] %></li>
            <% end %>
          </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="enveloper" style="display: none;">
<div id="new_todo">
  <%= render 'new' %>
</div>
</div>