/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: OpenSans;
}

/* header */

#overheader {
    width: 100%;
    background-color: #42c9f5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#overheader h1 {
    color: white;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    display: inline;
}

#overheader a{
    margin-right: 30px;
}
#overheader svg {
    /*right: -30px;*/
    fill: white;
    align-self: flex-end;
}

/* main body */

#main {
    margin-top: 60px;
    min-height: calc(100vh);
    width: inherit;
    background: rgba(245, 245, 245, 0.63);
}

.projects {
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 350px;
    height: auto;
    border-color: #730E15;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.49);
}

.projects h2 {
    align-self: flex-start;
    margin-left: 15px;
}

.row {
    margin: 10px;
    padding: 0px;
}

.inside {
    margin-left: 110%;
}

.line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid rgba(122, 121, 121, 0.84);
    align-self: center;
    width: 90%;
}

.projects ul {
    border-top-color: #2E2F30;
    margin-left: -20px
}

.projects li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.projects label {
    margin-left: 12px;
}

.icheckbox_square-blue {
    margin-right: 2px;
}

/* NewTodo section */

.enveloper {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(86,85,85,0.53);
    display: flex;
    justify-content: center;
    align-items: center;
}

#new_todo {
    background: white;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#new_todo input {
    margin-top: 5px;
    width: 90%;
    height: 40px;
}


.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3px;
    width: 90%;
    height: 40px;
    padding: 3px;
}

#ok_button {
    display: flex;
    height: inherit;
    background: rgba(99,189,255,0.99);
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 49%;
}

#hide_new{
    display: flex;
    height: inherit;
    background: rgba(136, 135, 135, 0.99);
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 49%;
}

#todo_project_id {
    width: 90%;
}

.select2-selection, .select2-selection__rendered, .select2-selection__arrow {

    height: 40px !important;
span {

    line-height: 40px !important;
    text-align: left;
}
}

.select2 {
    margin-top: 3px;
    width: 270px !important;
}
.select2-selection {

    border-radius: 0 !important;

}

