// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'MerelBlack';
  src:url('10597.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}