<!DOCTYPE html>
<html>
  <head>
    <title>TodoHelper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'vendor/blue', 'vendor/select2.min',
                            'vendor/bootstrap-theme.min', 'vendor/bootstrap.min',
                            media: 'all'  %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
